<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.bupt.sdmda.backstackandlaunchmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".SingleTaskAffinityActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".liuyang"/>
        <activity android:name=".SingleTaskActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".StandardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>